# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = scholar.settings

[deploy]
url = http://{{host}}:{{port}}/
project = {{project}}
